<tr class="template-row field-row {{#if lastRow}} last-row{{/if}}">
    <th>{{label}}</th>
    <td{{#if fieldCellCssClass}} class="{{fieldCellCssClass}}"{{/if}}>
        {{renderComponent inputType}}
    </td>
</tr>